<div class="w-full h-full flex px-10 justify-between items-center bg-cyan-800 text-white uppercase font-semibold shadow-xl">
  <a routerLink="/">
    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="white" stroke-width="5">
      <polygon points="32,8 8,24 56,24" fill="none" />
      <line x1="8" y1="26" x2="56" y2="26" />
      <line x1="16" y1="28" x2="16" y2="48" />
      <line x1="32" y1="28" x2="32" y2="48" />
      <line x1="48" y1="28" x2="48" y2="48" />
      <line x1="10" y1="50" x2="54" y2="50" />
      <line x1="6" y1="54" x2="58" y2="54" />
    </svg>
  </a>

  <div class="flex gap-3">
    <a class="hover:underline" routerLink="partes-interessadas">Cadastro de partes interessadas</a>
    <span class="text-gray-300">|</span>
    <a class="hover:underline" routerLink="consultas-processos">Consultas de processos</a>
  </div>
</div>
