<div class="flex flex-col items-center justify-center gap-20 w-screen h-screen-80">
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold uppercase">Bem-vindo ao Sistema de Consulta de Processos</h1>
    <p class="text-lg">Selecione uma opção abaixo para começar:</p>
  </div>
  <nav class="flex gap-6">
    <a routerLink="/partes-interessadas" class="bg-cyan-800 text-white w-80 py-3 rounded-md text-center text-lg hover:bg-cyan-900 cursor-pointer">Cadastro de Partes Interessadas</a>
    <a routerLink="/consultas-processos" class="bg-cyan-800 text-white w-80 py-3 rounded-md text-center text-lg hover:bg-cyan-900">Consultas de Processos</a>
  </nav>
</div>
