/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #F9F9F9;
  color: #232D42;
}

body,
input,
select,
button {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem;
  font-style: normal;
}

button {
  cursor: pointer;
}

label.required::after {
  content: '*';
  color: #CC3C0C;
}

input:disabled,
select:disabled {
  color: #8A92A6;
  cursor: not-allowed;
}

.h-screen-80 {
  height: calc(100vh - 80px);
}

.h-full-60{
  height: calc(100% - 60px);
}
